{
  "presets": ["next/babel"],
  "plugins": [
    "relay",
    [
      "import",
      {
        "libraryName": "antd"
      }
    ],
    "react-native-paper/babel",
    [
      "module-resolver",
      {
        "alias": {
          "react-native": "react-native-web"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["env", { "modules": "commonjs" }], "next/babel"]
    }
  }
}
